In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("hw05.ipynb")

# Homework 5: Applying Functions and Iteration

Please complete this notebook by filling in the cells provided. Before you begin, execute the previous cell to load the provided tests.

**Helpful Resource:**
- [Python Reference](http://data8.org/fa22/reference/): Cheat sheet of helpful array & table methods used in Data 8!

**Recommended Readings**: 

* [Tabular Thinking Guide](https://drive.google.com/file/d/1D9PXUgDLXjFBXZoyGVSKpzk0nKQziDTP/view?usp=sharing)
* [Applying Functions](https://www.inferentialthinking.com/chapters/08/1/Applying_a_Function_to_a_Column.html)
* [Conditionals](https://www.inferentialthinking.com/chapters/09/1/Conditional_Statements.html)
* [Iteration](https://www.inferentialthinking.com/chapters/09/2/Iteration.html)

Please complete this notebook by filling in the cells provided. **Before you begin, execute the cell below to setup the notebook by importing some helpful libraries.** Each time you start your server, you will need to execute this cell again.

For all problems that you must write explanations and sentences for, you **must** provide your answer in the designated space. Moreover, throughout this homework and all future ones, **please be sure to not re-assign variables throughout the notebook!** For example, if you use `max_temperature` in your answer to one question, do not reassign it later on. Otherwise, you will fail tests that you thought you were passing previously!

**Deadline:**

This assignment is **due Wednesday, 9/28 at 11:00pm PT**. Turn it in by Tuesday, 9/27 at 11:00pm PT for 5 extra credit points. Late work will not be accepted as per the [policies](http://data8.org/fa22/policies/) page.

<span style="color:red">**Note: This homework has hidden tests on it. That means even though tests may say 100% passed, it doesn't mean your final grade will be 100%. We will be running more tests for correctness once everyone turns in the homework.**</span>

Directly sharing answers is not okay, but discussing problems with the course staff or with other students is encouraged. Refer to the [policies](http://data8.org/fa22/policies/#learning-cooperatively) page to learn more about how to learn cooperatively.

You should start early so that you have time to get help if you're stuck. Office hours are held Monday through Friday in [Warren Hall](https://www.berkeley.edu/map?warren) 101B. The office hours schedule appears on [http://data8.org/fa22/officehours/](http://data8.org/fa22/officehours/).

## 0. Midterm Accommodations Form

**Question 1.** Please complete the midterm accommodations form, _even if you do not need any accommodations_. **(1 Point)**

- [Fall 2022 Midterm Accommodations Survey](https://docs.google.com/forms/d/e/1FAIpQLSee5qT4UAQWBdw0wxdw8tXhIWfF2pBz25WOWyMNZf6Cf5Tl-w/viewform)

Assign `phrase` to the secret phrase given at the end of the accommodations survey. Make sure the phrase is in quotes (i.e. is a string)!

<!--
BEGIN QUESTION
name: q0_1
points:
 - 0
 - 1
-->

In [4]:
secret_phrase = "pumpkin"

In [5]:
grader.check("q0_1")

q0_1 results: All test cases passed!

## 1. 2021 Cal Football Season

In [6]:
# Run this cell to set up the notebook, but please don't change it.

# These lines import the Numpy and Datascience modules.
import numpy as np
from datascience import *

# These lines do some fancy plotting magic.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

James is trying to analyze how well the Cal football team performed in the 2021 season. A football game is divided into four periods, called quarters. The number of points Cal scored in each quarter and the number of points their opponent scored in each quarter are stored in a table called `cal_fb.csv`.

In [7]:
# Just run this cell
# Read in the cal_fb csv file
games = Table().read_table("cal_fb.csv")
games.show()

Let's start by finding the total points each team scored in a game.

**Question 1.** Write a function called `sum_scores`.  It should take four arguments, where each argument represents integers corresponding to the team's score for each quarter. It should return the team's total score for that game. **(2 Points)**

*Hint:* Don't overthink this question!


<!--
BEGIN QUESTION
name: q1_1
manual: false
points:
 - 1
 - 1
-->

In [8]:
def sum_scores(q1, q2, q3, q4):
    '''Returns the total score calculated by adding up the score of each quarter'''
    return q1+q2+q3+q4
sum_scores(14, 7, 3, 0) #DO NOT CHANGE THIS LINE

24

In [9]:
grader.check("q1_1")

q1_1 results: All test cases passed!

**Question 2.** Create a new table `final_scores` with three columns in this *specific* order: `Opponent`, `Cal Score`, `Opponent Score`. You will have to create the `Cal Score` and `Opponent Score` columns. Use the function `sum_scores` you just defined in the previous question for this problem. **(5 Points)**

*Hint:* If you want to apply a function that takes in multiple arguments, you can pass multiple column names as arguments in `tbl.apply()`. The column values will be passed into the corresponding arguments of the function. Take a look at the Python Reference Sheet and Lecture 13's demo for syntax.

*Note:* If you’re running into issues creating `final_scores`, check that `cal_scores` and `opponent_scores` output what you want. 

<!--
BEGIN QUESTION
name: q1_2
manual: false
points:
 - 0
 - 0
 - 5
-->

In [17]:
cal_scores = games.apply(sum_scores, 'Cal 1Q', 'Cal 2Q', 'Cal 3Q', 'Cal 4Q')
opponent_scores = games.apply(sum_scores, 'Opp 1Q', 'Opp 2Q', 'Opp 3Q', 'Opp 4Q')
final_scores = games.with_columns('Cal Score', cal_scores, 'Opponent Score', opponent_scores).select(0, 9, 10)
final_scores

Opponent         | Cal Score | Opponent Score
Nevada           | 17        | 22
TCU              | 32        | 34
Sacramento State | 42        | 30
Washington       | 24        | 31
Washington State | 6         | 21
Oregon           | 17        | 24
Colorado         | 26        | 3
Oregon State     | 39        | 25
Arizona          | 3         | 10
Stanford         | 41        | 11
... (2 rows omitted)

In [18]:
grader.check("q1_2")

q1_2 results: All test cases passed!

We can get specific row objects from a table. You can use `tbl.row(n)` to get the `n`th row of a table. `row.item("column_name")` will allow you to select the element that corresponds to `column_name` in a particular row. Here's an example:

In [19]:
# Just run this cell
# We got the Axe!
games.row(9) # <-- this will return a row object

Row(Opponent='Stanford', Cal 1Q=0, Cal 2Q=14, Cal 3Q=13, Cal 4Q=14, Opp 1Q=0, Opp 2Q=3, Opp 3Q=0, Opp 4Q=8)

In [20]:
# Just run this cell
games.row(9).item("Cal 4Q") # <-- this will return a item (e.g. an int) from a row object

14

**Question 3.** We want to see for a particular game whether or not Cal lost. Write a function called `did_cal_lose`.  It should take one argument: a **row object** from the `final_scores` table. It should return either `True` if Cal's score was less than the Opponent's score, and `False` otherwise. **(5 Points)**

*Note 1*: "Row object" means a row from the table extracted (behind the scenes) using `tbl.row(index)` that contains all the data for that specific row. It is **not** the index of a row. Do not try and call `final_scores.row(row)` inside of the function.

*Note 2*: If you're still confused by row objects, try printing out `final_scores.row(1)` in a new cell to visually see what it looks like! This piece of code is pulling out the row object located at index 1 of the `final_scores` table and returning it. When you display it in a cell, you'll see that it is not located within a table, but is instead a standalone row object!

<!--
BEGIN QUESTION
name: q1_3
manual: false
points:
 - 0
 - 2
 - 3
-->

In [22]:
def did_cal_lose(row):
    return row.item(1) < row.item(2)

did_cal_lose(final_scores.row(1)) #DO NOT CHANGE THIS LINE

True

In [23]:
grader.check("q1_3")

q1_3 results: All test cases passed!

**Question 4.** James wants to see how Cal did against every opponent during the 2021 season. Using the `final_scores` table:

1. Assign `results` to an array of `True` and `False` values that correspond to whether or not Cal lost.
2. Add the `results` array to the `final_scores` table in a column named `Results`, and assign this to `final_scores_with_results`.
3. Then, respectively assign the number of wins and losses Cal had to `cal_wins` and `cal_losses`.

**(10 Points)**

*Hint 1*: `True` and `False` are **not** strings. What data type are they?

*Hint 2*: `tbl.num_rows` might be helpful too.

*Hint 3*: When you only pass a function name and no column labels through `tbl.apply()`, the function gets applied to every row in `tbl`.


<!--
BEGIN QUESTION
name: q1_4
manual: false
points:
 - 0
 - 0
 - 5
 - 5
-->

In [32]:
results = final_scores.apply(did_cal_lose)
final_scores_with_results = final_scores.with_column('Results', results)
cal_losses = final_scores_with_results.where('Results', True).num_rows
cal_wins = final_scores_with_results.where('Results', False).num_rows

# Don't delete or edit the following line:
print(f"In the 2021 Season, Cal Football won {cal_wins} games and lost {cal_losses} games. Go Bears! 🐻")

In the 2021 Season, Cal Football won 5 games and lost 7 games. Go Bears! 🐻

In [33]:
grader.check("q1_4")

q1_4 results: All test cases passed!

## 2. Unrolling Loops (Optional)

**This section of HW5 is optional. Do it for your own practice, but it will not be incorporated into the final grading!**

"Unrolling" a `for` loop means to manually write out all the code that it executes.  The result is code that does the same thing as the loop, but without the structure of the loop.  For example, for the following loop:

    for num in np.arange(3):
        print("The number is", num)

The unrolled version would look like this:

    print("The number is", 0)
    print("The number is", 1)
    print("The number is", 2)


Unrolling a `for` loop is a great way to understand what the loop is doing during each step. In this exercise, you'll practice unrolling a `for` loop.


In the question below, write code that does the same thing as the given code, but with any `for` loops unrolled.  It's a good idea to run both your answer and the original code to verify that they do the same thing.  (Of course, if the code does something random, you'll get a different random outcome than the original code!)

**Optional Question 1.** Unroll the code below.
<!--
BEGIN QUESTION
name: q2_1
manual: false
-->

In [24]:
for joke_iteration in np.arange(3):
    print("Knock, knock.")
    print("Who's there?")
    print("Banana.")
    print("Banana who?")
print("Knock, knock.")
print("Who's there?")
print("Orange.")
print("Orange who?")
print("Orange you glad I didn't say banana?")

In [25]:
print("Knock, knock.")
    print("Who's there?")
    print("Banana.")
    print("Banana who?")

Congratulations, you are done with Homework 5!

**Important submission steps:** 

1. Run the tests and verify that they all pass.
2. Choose **Save Notebook** from the **File** menu, then **run the final cell**. 
3. Click the link to download the zip file.
4. Go to [Gradescope](https://www.gradescope.com/courses/415727) and submit the zip file to the corresponding assignment. The name of this assignment is "HW 05 Autograder".

## Pets of Data 8

Did you know? GSI Su Min's dog Shefran is also taking Data 8 right now! "bar(k)" plots are her favorite Data 8 concept. Congrats on finishing homework 5!

<img src="./shefran.jpg" width="30%" alt="Digital collage of small white dog sitting on a laptop with a data 8 logo in Wheeler 150"/>

Dog of the week: **Shefran**

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False)